div{
    width: 50%;
    margin: auto;
}

button {
    text-align: center;
    width: 500px;
    height: 50px;
}

.black {
    background-color: #000000;
    color: #FFE81F;
}

.yellow {
    background-color: #FFE81F;
    color: #000000;
}